.error {
    color: #874356;
    background: #F6E7D8;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }


  .success {
    color: #E5EFC1;
    background: #39AEA9;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }


  .nice-border {
    margin-top: 10px;
    border: 2px solid #525E75;
    padding: 10px;
    border-bottom-right-radius: 25px;
    max-width: 400px;
  }

  .nice-border:hover{
    background-color: #F1DDBF;
  }


  .tomato{
    color: tomato;
  }